Makefile
Makefile.in
.deps
.libs

TAGS
*.o
*.a
*.lo
*.la
*.tar.bz2
*.tar.gz

/aclocal.m4
/autom4te.cache
/config.*
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/*.patch
/ylwrap
/libtool
/ltmain.sh

/gsqlw-test
/.test.db
/.vimrc
/tags

/docs/html
/gsqlw.pc
